/* Limpar formatação padrão */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #ffffff url(../imagens/bg.png);

}

#container{
    border: 1px solid red;
}